.main-note {
  text-align: center;
}

.main_note {
  padding: 20px;
  width: 400px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px 3px #efefef;
  border-radius: 4px;
}

.add_btn {
  text-align: right;
}

.add_btn button {
  background-color: #ffdb77a6;
}

i.add_icon {
  color: #f4b400;
}

.add_btn button:hover {
  background: #f4b400;
  cursor: pointer;
}

i.add_icon:hover {
  color: #ffffff;
  cursor: pointer;
}

.note {
  margin-top: 10px;
  padding: 20px;
  /* width: 300px; */
  margin: 20px;
  box-shadow: 0px 0px 20px 3px #efefef;
  border-radius: 4px;
}

.note h1 {
  font-size: 25px;
}

.note_footer {
  text-align: center;
}

.section_footer {
  margin-top: 20px;
}
